<if condition="!IS_PJAX">
<include file="Public/header" />
<include file="Public/nav" />
</if>
<div class="am-container">
<notempty name="tips">
<div class="am-alert am-alert-default" data-am-alert>
  <button type="button" class="am-close">&times;</button>
  <p>{$tips}</p>
</div>
</notempty>
    <form method="post" action="{:U('User/login')}" class="am-form" data-am-validator>
	 <fieldset>
      <if condition="$quickreport eq 'true'">
	 <div class="am-form-group"> 
      <label for="username">姓名:</label>
      <input type="text" name="username" id="username" placeholder="请输入真实姓名" required>
     </div>
	 <div class="am-form-group"> 
      <label for="uid">识别码:</label><a href="javascript:modal_alert('请联系网站管理员解决');" class="am-fr">信息不匹配?</a>
      <input type="text" name="uid" id="uid" placeholder="请输入学号（或教职工号/一卡通号）" required>
     </div>  
	  
      <else/>
	 <div class="am-form-group"> 
      <label for="uid">识别码:</label>
      <input type="text" name="uid" id="uid" placeholder="请输入学号（或教职工号/一卡通号）" required>
     </div>
	 <div class="am-form-group"> 
      <label for="password">密码:</label><a href="{:U('User/findpsw')}" class="am-fr">忘记密码?</a>
      <input class="js-pattern-password" type="password" minlength="6" maxlength="20" name="password" id="password" placeholder="请输入密码" required>
     </div>
	  
      </if>
	 <div class="am-form-group"> 
      <label for="verify">验证码:</label>
      <img data-src="{:U('User/showVerify')}" onclick="$(this).attr('src','{:U('User/showVerify')}'+'?random='+Math.random())" class="am-img-responsive">
      <input type="text" name="verify" id="verify" maxlength="5" placeholder="请输入验证码" onfocus="$(this).removeAttr('onfocus').prev().attr('src',$(this).prev().data('src'))" autocomplete="off" required>
     </div> 
	  
      <div class="am-btn-group am-btn-group-justify am-cf">
        <input type="submit" value="登 录" class="am-btn am-btn-primary am-radius am-fl">
        <if condition="$allowregister eq 'true'">
        <a href="{:U('User/register')}" class="am-btn am-btn-default am-radius am-fr <if condition="$allowregister eq 'false'">am-disabled</if>">木有账户?点此注册</a>
        </if>
      </div>
	 </fieldset>
    </form>
</div>
<script type="text/javascript">
$(function(){$(".am-topbar-nav").find('.am-active:not(.am-dropdown)').removeClass('am-active');});
if(document.getElementsByTagName('meta').length==0)window.location.href="__SELF__";
if ($.AMUI && $.AMUI.validator) {
	$.AMUI.validator.patterns.password = /^[A-Za-z0-9]{6,20}$/
}
$('form').validator({
	onValid: function(validity) {
		$(validity.field).closest('.am-form-group').find('.am-alert').hide()
	},
	onInValid: function(validity) {
		var $field = $(validity.field);
		var $group = $field.closest('.am-form-group');
		var $alert = $group.find('.am-alert');
		var msg = $field.data('validationMessage') || this.getValidationMessage(validity);
		if (!$alert.length) {
			$alert = $('<div class="am-alert am-alert-danger"></div>').hide().appendTo($group)
		}
		$alert.html(msg).show()
	}
});
</script>
<if condition="!IS_PJAX">
<include file="Public/footer" />
</if>